# .gitignore for Octave stuff

# Built mex/oct files
*.mex
*.oct

# Binary artifacts and intermediate build stuff
*.o
/target
cmake-build-debug

# Intermediate doc-generation files
/doc/*.dvi
/doc/*.qhp
/doc/topics.tmp
/doc/TIMESTAMP

# Data and log droppings
*.log

# Editor and IDE config and droppings
!.idea
.idea/workspace.xml
.vscode

# GitHub Pages deployment stuff
/docs/Gemfile.lock
/docs/_site
